name: Continuous Delivery

on:
  push:
    branches: [ "master" ]

env:
  IMAGE_NAME: agrosolutions-identity
  IMAGE_TAG: latest
  DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  cd:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # =========================
      # Docker Hub Login
      # =========================
      - name: Login Docker Hub
        uses: docker/login-action@v3.7.0
        with:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_TOKEN

      # =========================
      # Build & Push Docker Image
      # =========================
      - name: Build Docker Image
        run: |
          docker build -t $DOCKERHUB_USER/$IMAGE_NAME:$IMAGE_TAG .

      - name: Push Docker Image
        run: |
          docker push $DOCKERHUB_USER/$IMAGE_NAME:$IMAGE_TAG

      # =========================
      # Apply Kubernetes Manifests
      # =========================
      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/

      # =========================
      # Minikube Start
      # =========================
      - name: Start Minikube
        run: |
          minikube status || minikube start --driver=docker

      # =========================
      # Wait pods
      # =========================
      - name: Wait for pods
        run: |
          kubectl wait --for=condition=available deployment --all --timeout=120s

      # =========================
      # Expose Service
      # =========================
      - name: Get Service URL
        run: |
          minikube service agrosolutions-identity-api --url
